  .home {
    padding: 20px;
    background-color: #f7e0b6;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .featured-products, .about-us-preview, .newsletter {
    margin-bottom: 30px;
  }
  
  .featured-products a, .about-us-preview a {
    display: block;
    margin-bottom: 10px;
    color: #774c2a;
    text-decoration: none;
  }
  
 
  