  .home {
    padding: 20px;
    background-color: #f7e0b6;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .featured-products, .about-us-preview, .newsletter {
    margin-bottom: 30px;
  }
  
  .featured-products a, .about-us-preview a {
    display: block;
    margin-bottom: 10px;
    color: #774c2a;
    text-decoration: none;
  }
  
  .newsletter input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .newsletter button {
    background-color: #774c2a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  .newsletter button:hover {
    background-color: #60381f;
  }
  