.newsletter input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .newsletter button {
    background-color: #774c2a;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
  }
  
  .newsletter button:hover {
    background-color: #60381f;
  }